/* CSS Styles */

body {
    font-family: 'Roboto' 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
 
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
}

.links {
    display: flex;
    gap: 20px;
    padding-right: 35px;
    font-size: 18px;
    color: #E5E7EB;
}

/*First block (excluding header)*/

.title-block {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}

.main-info {
    height: 300px;
    width: 400px;
    padding: 48px;
    font-size: 18px;
    color: #E5E7EB;
}

#title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

#main-image {
    border: black solid 7px;
    width: 400px;
    height: 250px;
    margin: 45px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 13px;
    padding: 7px 22px;
    border-radius: 10px;
    border-color: #3882F6;
}

/*Second block (information)*/

.info-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    
}

.content {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    min-width: 400px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 170px;
    gap: 5px;
  

}

.info-text {
    text-align: center;
}

img {
    height: 120px;
    width: 170px;
    border-radius: 10px;
    border: #3882F6 solid 6px;
}

#random {
font-size: 36px;
font-weight: 900;
color: #1F2937;
text-align: center;


}

/*Third block (Quote)*/

.quote-block {
    background-color: #E5E7EB;
    height: 500px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;

}

.quote {
    margin: 100px;
}


/*Fourth block (Signup)*/

.signup-block {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cta {
    background-color: #3882F6;
    height: 150px;
    width: 900px;
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.cta-text {
    color: #E5E7EB;
}


#buttons-2 {
    font-size: 15px;
    border: white solid 3px;
}


/*Footer*/

.footer {
    background-color: #1F2937;
    height: 75px;
    font-size: 17px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}